body,html{
  height: 100%;
  width: 100%;

}

body{
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(0,0,0,0.4);
  background-attachment: fixed;
  font-size: 25px;
  color: black;
  width: 100%;

}
h1, h4,{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;

}


h2{
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

h6{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}
h5{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;


}
.navbar-brand{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  color: #ccc;


}

.navbar{
  background-color: rgba(0,0,0,0.8);
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;

}

a:not([href]):not([tabindex]){
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
    color: #ccc;
    text-decoration-color: black;

  }

.obnoxious{
  color: black;
}

.hvr-bob{
  color: black;
}
a:hover{
  color:	#ccc;
}
a{
    color: 	#333333;
}

header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 9999;
}

.responsive{
      background-image: url('../assets/img/water.JPG');
      height: 150px;
      width: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: 40% 40%;

}

#AboutMe{
  margin-top: 300px;
  margin-bottom: 100px;

}
#pagetop{
  margin-top: 300px;

}
#Projects{
  margin-bottom: 100px;
    color: black;
}

#ContactMe{
  text-decoration-color: black;
  color: black;
  margin-top: 100px;
  margin-bottom: 60px;
}
#SurfReport{
  margin-top: 25px;
  color: black;
}
#Arrow{
  margin-top: 50px;
  margin-left: 30px;
}
#surfContain{
  margin-top: 50px;
}
#surfReportText{
  margin-top: 20px;
}
#transmission{
margin-top: 20px;

}
/*
#backgroundContainer{
  position: fixed;
  z-index: -1;
  top:0;
  left:0;

}

#backgroundAnimation{
  top:0;
  left:0;
}

#foregroundContainer{
  position: scroll;
  z-index: 1;
  top:0;
  left:0;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
} */

footer{
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  color: #ccc;

}

/* Surf Styles */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.bodyContent{
  margin-top: 350px;
}
/*arrow animation*/
#arrowAnim {

  width: 6vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 3vw;
  height: 3vw;
  border: 1.5vw solid;
  border-color: grey transparent transparent grey;
  transform: rotate(135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 3s linear infinite;
          animation: slide 3s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(-8vw); }
   20% { opacity:1; transform: translateX(-2vw); }
   80% { opacity:1; transform: translateX(2vw); }
  100% { opacity:0; transform: translateX(8vw); }
}
@keyframes slide {
    0% { opacity:0; transform: translateX(-8vw); }
   20% { opacity:1; transform: translateX(-2vw); }
   80% { opacity:1; transform: translateX(2vw); }
  100% { opacity:0; transform: translateX(8vw); }
}

@media (max-width: 576px) {
 #Arrow{
   display: none;
 }
}
